.Wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url(/src/images/bg.jpg);
  background-size: cover;
  background-color: var(--color-water);
}

.Main {
  height: 100%;
  flex-basis: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}

.Header {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  height: 48px;
  background: transparent;
}

.Cards {
  overflow: auto;
  content: "";
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  width: 100%;
  max-width: 864px;
  margin-right: var(--space-med);
}

.Cards::-webkit-scrollbar {
  width: 0;
}

.Sidebar {
  flex-shrink: 0;
  overflow: auto;
  background-color: var(--color-snow);
  border-radius: 4px;
  border-radius: 4px;
  width: 320px;
  background: transparent;
}

.Footer {
  flex-basis: auto;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.Copy {
  font-size: var(--text-min);
  text-align: center;
  color: var(--color-snow);
}


/* Media */

/* Hide aside */

@media (max-width: 869px) {

  .Cards {
      margin-right: 0;
  }

  .Sidebar {
      display: none;
  }
}


/* Show mobile menu */

@media (max-width: 480px) {
  .Main {
      padding-left: 0;
      padding-right: 0;
  }
}

/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .Wrapper {
      background-image: url(/src/images/bg@2x.jpg);
  }
}
