.Card {
    position: relative;
    overflow: hidden;
    background-color: var(--color-snow);
    border-radius: 4px;
    min-height: 48px;
    min-width: 320px;
    display: flex;
    padding: 8px;
}

.Content {
    display: flex;
    flex-direction: column;
}

.Title {
    color: var(--color-sky);
}

.Descritpion {
    color: var(--color-cloud);
}