.Card {
    display: flex;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background-color: var(--color-snow);
    border-radius: 4px;
    min-width: 320px;
    padding: 8px;
    margin-bottom: 8px;
}

.Content {
    display: flex;
    flex-direction: column;
    width: 100
}

.Link {
    display: flex;
}

.Link:hover * {
    color: var(--color-cloud);
    fill: var(--color-cloud);
}

.Icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    fill: var(--color-sky);
}

.Title {
    color: var(--color-sky);
}

.Description {
    font-size: 14px;
    padding-left: 32px;
    color: var(--color-cloud);
    margin-bottom: 8px;
}

.Nav {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 32px;
    height: 24px;
}

.Nav__Item {
    color: var(--color-sky);
    margin-right: 16px;
}

.Card__expander {
    width: 32px;
    height: 32px;
    background-color: var(--color-sky);
    visibility: hidden;
}

@media (max-width: 480px) {
    .Card {
        height: 48px;
        transition: all .3s ease-in-out;
    }

    .Card_expand {
        height: 200px;
        transition: all .3s ease-in-out; 
    }

    
    .Description {
        visibility: hidden;
    }
    
    .Nav {
        visibility: hidden;
    }

    .Nav__Item {
        margin-bottom: 8px;
    }
    
    .Card_expand .Nav {
        visibility: visible;
        flex-direction: column;
    }
    

    .Card__expander {
        visibility: visible;
    }
    

}