.card {
    display: flex;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background-color: var(--color-snow);
    border-radius: 4px;
    height: 64px;
    min-width: 320px;
    padding: 8px;
    margin-bottom: 8px;
    transition: all .3s ease-out;
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--color-sky);
}

.descritpion {
    color: var(--color-cloud);
}

.card__expander {
    width: 32px;
    height: 32px;
    background-color: var(--color-sky);
}

@media (max-width: 480px) {
    .card {
        height: 48px;
    }

    .descritpion {
        visibility: hidden;
    }

    .card_expand {
        height: 200px;
        transition: all .15s ease-out; 
    }
}